<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>

    <form action="/comment" method="post">
        <section>
        <label for="username">UserName</label>
        <input type="text" placeholder="username" name="username" id="username">
    </section>
        <label for="com">Comment</label>
        <section>
        <textarea name="com" id="com" cols="30" rows="10" placeholder="Please write your valuable coments....."></textarea>
    </section>
     
    <button>Submit</button>

    </form>
    <br>
    <button><a href="/comment">Back</a></button>
    
</body>
</html>