<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Comments</h1>
    <% for(c of comment ) {%> 
        
       <p> * <%= c.com %> -<b><%= c.username %></b> 
       <a href="/comment/<%=c.id %> ">details</a>
       
    <% } %> 
     
     <div>  
    <button><a href="/comment/new">Add new coments</a></button>
    </div>

</body>
</html>